[req]
default_bits           = 1024
default_keyfile        = keyfile.pem
distinguished_name     = req_distinguished_name
prompt                 = no
encrypt_key            = no

[req_distinguished_name]
C                      = US
ST                     = CA
L                      = Pasadena
O                      = Caltech
OU                     = Computer Science
CN                     = localhost.localdomain
emailAddress           = root@metaprl.org
