/*
 * General properties of everything in the <body>
 */
BODY {
    background-color: white;
    color: black;
    font-family: Sans-Serif;
    font-size: 10pt
}

/*
 * Bold-face.
 */
B {
    font-weight: bold
}

/*
 * General text classes for MetaPRL.
 *    info: general informative text, used in root display
 *    keyword: program keywords
 *    var: first and second-order variables
 *    stdout: text displayed to stdout
 *    stderr: text displayed to stderr
 */
SPAN.info {
    color: #115599;
    font-weight: bold
}
SPAN.keyword {
    color: #773333;
    font-weight: bold
}
SPAN.var {
    color: #115599;
    font-style: italic
}
SPAN.stdout {
    color: #002299
}
SPAN.stderr {
    color: #992222
}

/*
 * Subscripts.
 */
SUB {
    color: #888888;
    font-size: smaller;
    position: relative;
    top: -3pt;
}

/*
 * Anchors, or hypertext links.
 */
A {
    font-weight: bold
}
A.rule_name {
    font-family: monospace
}
A:link {
    color: #3333bb;
    background-color: transparent
}
A:visited {
    color: #222288;
    background-color: transparent
}
A:hover {
    background-color: #e0e0f0
}

/*
 * Properties of the built-in panels.
 */
#menubox {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 800px;
    height: 50px;
    display: block;
    border: none;
    padding: 0px;
    overflow: auto;
    background-color: #f8f8ff
}

#contentbox {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 800px;
    height: 600px;
    display: block;
    border: none;
    padding: 0px;
    overflow: auto
}

#messagebox {
    position: absolute;
    top: 650px;
    left: 0px;
    width: 800px;
    height: 100px;
    display: block;
    border: none;
    padding: 0px;
    overflow: auto;
    background-color: #f8f8ff
}

#rulebox {
    position: absolute;
    top: 750px;
    left: 0px;
    width: 800px;
    height: 150px;
    display: block;
    border: none;
    padding: 0px;
    overflow: auto
}

#inputbox {
    position: static;
    display: block;
    border: none;
    padding: 0px
}
