/*
 * General properties of everything in the <body>
 */
HTML {
    overflow-x: hidden;
    overflow-y: auto
}

BODY {
    background-color: white;
    color: black;
    font-family: Arial Unicode MS, Sans-Serif;
    font-size: 10pt;
    border: 0px;
    margin: 0px;
    padding: 0px
}

/*
 * Bold-face.
 */
B {
    font-weight: bold
}

/*
 * General text classes for MetaPRL.
 *    location: the location header printed in the content box
 *    info: general informative text, used in root display
 *    keyword: program keywords
 *    var: first and second-order variables
 *    stdout: text displayed to stdout
 *    stderr: text displayed to stderr
 *    slot: terms printed in slot zones
 */
SPAN.location {
    color: #444488;
    font-weight: bold;
    font-style: italic;
    font-size: 12pt
}
SPAN.info {
    color: #115599;
    font-weight: bold
}
SPAN.keyword {
    color: #773333;
    font-weight: bold
}
SPAN.var {
    color: #115599;
    font-style: italic
}
SPAN.stdout {
    color: #002299
}
SPAN.stderr {
    color: #992222
}
SPAN.system {
    color: #002277;
    font-family: monospace
}
SPAN.edithelp {
    color: #000044;
    font-size: 10pt;
    font-style: italic
}
SPAN.monospaced {
    font-family: monospace
}

/*
 * Slots are selectable.
 */
SPAN.slot {
}
SPAN.slotHover {
    background-color: #e0e0f0
}
SPAN.slotClick {
    background-color: #8888aa
}

/*
 * Sub/superscripts.
 */
SUB {
    color: #888888;
    font-size: smaller;
    position: relative;
    bottom: -2pt;
}

SUP {
    color: #888888;
    font-size: smaller;
    position: relative;
    top: 2pt;
}

/*
 * $$ ... $$ in comments
 */
P.centermath {
   font-style: italic;
   text-align: center;
}

/*
 * Anchors, or hypertext links.
 */
A {
    font-weight: bold
}
A.rule_name {
    font-family: monospace
}
A:link {
    color: #3333bb;
    background-color: transparent
}
A:visited {
    color: #222288;
    background-color: transparent
}
A:hover {
    background-color: #e0e0f0
}

/*
 * Properties of the frames.
 */
#menuframe {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 30px;
    margin: 0px;
    border: 0px
}

#menubody {
}

#contentframe {
    position: absolute;
    left: 0px;
    top: 30px;
    width: 100%;
    height: 4000px;
    margin: 0px;
    border: 0px
}

#contentbody {
}

#messageframe {
    position: absolute;
    left: 0px;
    top: 430px;
    width: 100%;
    height: 150px;
    margin: 0px;
    border: 0px;
    background-color: #f8f8ff
}

#messagebody {
    background-color: #ddddee
}

#buttonsframe {
    position: absolute;
    left: 0px;
    top: 580px;
    width: 100%;
    height: 50px;
    margin: 0px;
    border: 0px
}

#buttonsbody {
}

#ruleframe {
    position: absolute;
    left: 0px;
    top: 630px;
    width: 100%;
    height: 100px;
    margin: 0px;
    border: 0px;
}

#rulebody {
}

/*
 * Rule box.
 */
#inputline {
    width: 95%
}

#inputarea {
    width: 95%;
    height: 100px
}

/*
 * Resize handles.
 */
#messagehandle {
    position: absolute;
    background: black;
    width: 10px;
    height: 10px;
    z-index: 2;
    visibility: hidden
}

#buttonshandle {
    position: absolute;
    background: black;
    width: 10px;
    height: 10px;
    z-index: 2;
    visibility: hidden
}

#dragbox {
    position: absolute;
    background: transparent;
    width: 100%;
    height: 100%;
    z-index: 3;
    visibility: hidden
}

/*
 * Floating menus.
 */
#menufloat {
    position: absolute;
    visibility: hidden;
    background: #D3E4FA;
    border-width: 2px;
    border-style: solid;
    border-top-color: #eeeeee;
    border-left-color: #eeeeee;
    border-bottom-color: #777777;
    border-right-color: #777777;
    padding: 2px;
    z-index: 2;
    width: 30em
}

#menubox {
}

TABLE.menubox {
    background: transparent;
    margin: 0px;
    padding: 4px;
    table-layout: fixed;
    border-width: 0px;
    border-collapse: separate;
    border-spacing: 5px 0px
}

TR.menurow {
    background: #ECF2FF;
    border-width: 0px;
    border: 0px;
    margin: 0px;
    padding: 0px
}

TD.menulabel {
    background: #D3E4FA;
    border-width: 1px;
    border-style: solid;
    border-top-color: #eeeeee;
    border-left-color: #eeeeee;
    border-bottom-color: #777777;
    border-right-color: #777777;
    margin: 0px;
    padding: 0px;
    width: 80px
}

TD.menulabelhover {
    background: #ECF2FF;
    border-width: 1px;
    border-style: solid;
    border-top-color: white;
    border-left-color: white;
    border-bottom-color: black;
    border-right-color: black;
    margin: 0px;
    padding: 0px;
    width: 80px
}

DIV.menurule {
    background: #ECF2FF;
    margin: 0px;
    padding: 0px;
    height: 0px;
    border-width: 1px;
    border-style: solid;
    border-top-color: #6666aa;
    border-bottom-color: white;
    border-left-color: white;
    border-right-color: white;
    overflow: hidden
}

DIV.menuitem {
    width: 100%
}

DIV.menushade {
    width: 100%;
    color: #666699;
    font-style: italic;
    background: #c3d4eA
}

DIV.menuitemhover {
    width: 100%;
    background-color: #f0e0d0
}

/*
 * Editing.
 */
#editframe {
    position: absolute;
    left: 0px;
    top: 30px;
    width: 100%;
    height: 4000px;
    margin: 0px;
    border: 0px;
    visibility: hidden
}

#editbody {
    background: #ddddee
}

#editheading {
    width: 100%;
    height: 40px;
    border: 0px;
    margin: 0px;
    color: #000044;
    font-size: 18pt
}

#editform {
    width: 100%;
    height: 300px;
    border: 0px;
    margin: 0px;
    padding: 0px;
    overflow: hidden
}

#editarea {
    background: white;
    width: 100%;
    height: 300px;
    margin: 0px;
    padding: 0px;
    border: 0px
}

#helpbody {
    background: white
}

#cancelbutton {
    visibility: hidden
}

/*
 * System output.
 */
#systembody {
}

#systemheader {
    font-size: 20pt
}

#systemframe {
    position: absolute;
    left: 0px;
    top: 30px;
    width: 100%;
    height: 4000px;
    margin: 0px;
    border: 0px;
    visibility: hidden
}

#outputframe {
    position: absolute;
    left: 0px;
    top: 50px;
    width: 100%;
    height: 300px;
    margin: 0px;
    border: 0px
}

#outputbody {
   background: #eeeeee;
   font-family: monospace
}

/*
 * Welcome screen.
 */
#welcomebody {
}

/*
 * For debugging.
 */
#debugframe {
    position: absolute;
    left: 0px;
    top: 30px;
    width: 100%;
    height: 4000px;
    margin: 0px;
    border: 0px;
    visibility: hidden
}

/*
 * Hide the window while a lot of stuff is going on.
 */
#framesetbox {
    background: white;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    visibility: hidden
}
